# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - pre-commit
default_install_hook_types:
  - commit-msg
  - post-checkout
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write --ignore-unknown
        language: system
        exclude: ^(pnpm-lock\.yaml)$
        types: [text]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|cjs|ts|cts|svelte)$

      - id: pnpm-lock
        name: pnpm-lock
        entry: pnpm install --lockfile-only
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false

      - id: pnpm-sync
        name: pnpm-sync
        entry: pnpm install --frozen-lockfile
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
