{
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "pluginSearchDirs": ["."],

  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],

  "importOrder": [
    "\\$lib/.*/theme.postcss",
    "<THIRD_PARTY_MODULES>",
    "^\\$(src|lib)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
