---
import "../styles/main.scss";
import { ClientRouter } from "astro:transitions";
import { localizedHTML as favicons } from "astro-favicons/middleware";
import Analytics from "../components/analytics.astro";
import Footer from "../components/footer.astro";
import Masthead from "../components/masthead.astro";

const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..700;1,9..144,100..600&family=Newsreader:ital,opsz,wght@0,6..72,300..700;1,6..72,300..600&family=Fira+Code:wght@300;400;500;600&display=swap"
    />
    <Fragment set:html={favicons(Astro.currentLocale)} />
    <ClientRouter />
    <link rel="alternate" type="application/rss+xml" title="JP Ellis" href="/rss.xml" />
    <Analytics />
    <slot name="head" />
  </head>
  <body>
    <Masthead />
    <slot />
    <Footer />
  </body>
</html>
