name: Checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pre-commit:
    name: Execute pre-commit

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.11.1
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install

      - name: Run pre-commit
        uses: pre-commit-ci/lite-action@5d6cc0eb514c891a40562a58a8e71576c5c7fb43 # v1.1.0
