name: Labels

on:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

jobs:
  sync-labels:
    name: Synchronise labels

    runs-on: ubuntu-latest

    permissions:
      issues: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Synchronize labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2
        with:
          config-file: .github/labels.yml
